.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}

.appBody {
  display: flex;
  flex: 1;
  margin-top: 35px;
  width: 1000px;
  margin-left: 20px;
  margin-right: 20px;
}
